<template>
    <div>
       HALO DASHBOARD
    </div>
</template>

<script>
    export default{
        data(){
            return {}
        },
        mounted(){

        },
        created(){

        }

    }
</script>