<template>
    <div>
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
	export default {
		data: () => {

		},
		created(){

		},
		mounted(){
			
		}
	}
</script>