<template>
    <div>
        <div v-if="loading" style="padding-top:180px; text-align:center;">
            <vue-loader :loading="loading" :color="color" :size="size"></vue-loader>
        </div>
        <div v-else>
               <v-card>
                   <v-card-title>
                       <!-- Data Pengajuan Perubahan Status Mahasiswa -->
                       <v-spacer></v-spacer>
                       <v-text-field
                               append-icon="search"
                               label="Search"
                               single-line
                               hide-details
                               v-model="search"
                       ></v-text-field>
                   </v-card-title>
                   <v-data-table
                           v-bind:headers="headers"
                           v-bind:items="items"
                           v-bind:search="search"
                           :pagination.sync="pagination"
                           :rows-per-page-items="displayRowsPerPage"
                   >

                       <template slot="headers" slot-scope="props">
                           <tr>
                               <th rowspan="2"
                                   class="text-xs-left"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'keperluan' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('keperluan')"
                               >
                                   Keperluan <span v-for="(value, key) in 90">&nbsp;</span>
                                   <v-icon>arrow_upward</v-icon>
                               </th>

                               <th colspan="6">Proses</th>

                               <th rowspan="2"
                                   class="text-xs-left"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'tanggal' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('tanggal')"
                               >
                                   Tanggal
                                   <v-icon>arrow_upward</v-icon>
                               </th>

                               <th rowspan="2" class="text-xs-left">Aksi</th>
                           </tr>
                           <tr>
                               <!-- nama proses_X disamakan dengan header value -->
                               <th class="text-xs-center"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'proses_1' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('proses_1')"
                               >
                                   Validasi Prodi/PA
                                   <v-icon>arrow_upward</v-icon>
                               </th>

                               <th class="text-xs-center"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'proses_2' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('proses_2')"
                               >
                                   Validasi Perpus
                                   <v-icon>arrow_upward</v-icon>
                               </th>

                               <th class="text-xs-center"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'proses_3' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('proses_3')"
                               >
                                   Validasi Keuangan
                                   <v-icon>arrow_upward</v-icon>
                               </th>
                               <th class="text-xs-center"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'proses_4' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('proses_4')"
                               >
                                   Validasi BAA
                                   <v-icon>arrow_upward</v-icon>
                               </th>
                               <th class="text-xs-center"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'proses_5' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('proses_5')"
                               >
                                   Cetak Surat
                                   <v-icon>arrow_upward</v-icon>
                               </th>
                               <th class="text-xs-center"
                                   :class="['column sortable', pagination.descending ? 'desc' : 'asc', 'proses_6' === pagination.sortBy ? 'active' : '']"
                                   @click="changeSort('proses_6')"
                               >
                                   Ttd
                                   <v-icon>arrow_upward</v-icon>
                               </th>
                           </tr>
                       </template>

                       <template slot="items" slot-scope="props">
                           <td class="text-xs-left">{{ props.item.keperluan }}</td>
                           <td class="text-xs-center" v-html="statusIcon(props.item.proses_1)"></td>
                           <td class="text-xs-center" v-html="statusIcon(props.item.proses_2)"></td>
                           <td class="text-xs-center" v-html="statusIcon(props.item.proses_3)"></td>
                           <td class="text-xs-center" v-html="statusIcon(props.item.proses_4)"></td>
                           <td class="text-xs-center" v-html="statusIcon(props.item.proses_5)"></td>
                           <td class="text-xs-center" v-html="statusIcon(props.item.proses_6)"></td>
                           <td class="text-xs-left">{{ props.item.tanggal }}</td>
                           <td class="text-xs-left">
                               <div @click="removeHistory(props.item.nim, props.item.riwayat_id, props.item.proses_1, props.item.keperluan)"
                                    class="remove-data-riwayat"
                                    title="Batalkan">
                                   <v-icon>remove_circle</v-icon>
                               </div>
                           </td>
                       </template>
                       <template slot="pageText" slot-scope="{ pageStart, pageStop }">
                           From {{ pageStart }} to {{ pageStop }}
                       </template>
                   </v-data-table>

                   <!-- <div>
                       <v-icon style="color:green">done</v-icon>: Selesai<br>
                       <v-icon style="color:#CC5600">cached</v-icon> : Proses
                   </div>
            -->

               </v-card>
        </div>
    </div>
    
</template>
<script>
    export default {
        data () {
            return {
                search: '',
                pagination: {sortBy: '', page: 1, rowsPerPage: 6, descending: true},
                displayRowsPerPage: [6, 10, 20, {text: "All", value: -1}],
                headers: [
                    {value: 'keperluan'},
                    {value: 'proses_1'},
                    {value: 'proses_2'},
                    {value: 'proses_3'},
                    {value: 'proses_4'},
                    {value: 'proses_5'},
                    {value: 'proses_6'},
                    {value: 'tanggal'},
                    {value: 'aksi'},
                ],
                items: [],

                // loading screen
                loading: null,
                color: '#00838F',
                size: '150px',
            }
        },
        created(){
            this.loading = true;
            axios.get('api/get/riwayat/perubahan-status-mahasiswa/get-riwayat')
                .then(response => {
                    if (response.data.success == true) {
                        response.data.result.map(e => {
                            this.items.push(e);
                        })
                        this.loading = false;
                    }
                })
        },
        methods: {
            changeSort (column) {
                if (this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending
                } else {
                    this.pagination.sortBy = column
                    this.pagination.descending = false
                }
            },
            statusIcon(status){
                if (status == 1) {
                    return '<span style="color:green" title="selesai"><i class="material-icons">done</i></span>'
                } else {
                    return '<span style="color:#CC5600" title="proses"><i class="material-icons">cached</i></span>'
                }
            },
            removeHistory(nim, riwayatID, statusAjuan, keperluan){
                if (statusAjuan == 1) {
                    this.$swal('Gagal', 'Tidak dapat membatalkan karena surat telah selesai pada tahap pengajuan', 'error')
                } else {
                    // this.$swal({ html:true, title:'<i>TITLE</i>', text:'<b>TEXT</b>'});
                    this.$swal({
                        title: 'Anda yakin ??',
                        html: "membatalkan: <u>" + keperluan + "</u>",
                        type: 'warning',
                        confirmButtonText: 'Ya, Batalkan',
                        confirmButtonColor: '#24963E',
                        showCancelButton: true, // cancel button
                        cancelButtonText: 'Tidak',
                        cancelButtonColor: '#AF2A37',
                    }).then(() => {
                        this.$swal(
                            'Berhasil!',
                            'Pengajuan berhasil dibatalkan',
                            'success'
                        )

                        //delete data
                        let formData = {
                          nim : nim,
                          riwayatID : riwayatID,
                          statusAjuan : statusAjuan
                        }
                        console.log('asdasd');

                        this.items=[];
                        this.loading = true;

                        axios.post('api/post/riwayat/perubahan-status-mahasiswa/remove-riwayat', qs.stringify(formData))
                        .then(response => {
                            if (response.data.success == true) {
                                // reset input data
                                response.data.result.map(e => {
                                        this.items.push(e);
                                    })
                                    this.loading = false;
                            }
                        })
                    })
                }

            }
        }
    }
</script>

<style>
    .remove-data-riwayat {
        cursor: pointer;
    }

    .remove-data-riwayat:hover > .material-icons {
        color: red;
    }
</style>