<template>
    <v-app id="inspire">
        <v-navigation-drawer
                persistent
                v-model="drawer"
                enable-resize-watcher
                :mini-variant.sync="mini"
                app
        >

            <!-- Header Sidebar-->
            <v-list class="pa-0">
                <v-list-tile avatar tag="div">
                    <v-list-tile-avatar>
                        <img :src="mhs_picture" draggable="false"/>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title class="font-username">{{ mhs_nim }}</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon @click.stop="mini = !mini">
                            <v-icon style="color:#2F4354">chevron_left</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>


            <v-list dense>
                <v-divider style="padding:1px;background:#2F4354"></v-divider>
                <template v-for="(item, i) in items">
                    <v-layout
                            row
                            v-if="item.heading"
                            align-center
                            :key="i"
                    >
                        <!-- <v-flex xs6>
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-flex> -->
                        <!-- <v-flex xs6 class="text-xs-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-flex> -->
                    </v-layout>

                    <!-- JIKA PUNYA CHILD -->
                    <v-list-group v-else-if="item.children" v-model="item.model" no-action>
                        <v-list-tile slot="item" @click="">
                            <v-list-tile-action>
                                <v-icon medium>{{ item.model ? item.icon : item['icon-alt'] }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ item.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <div v-for="(child, i) in item.children"
                             :key="i"
                             @click="changeToolbarTitle(child.text)"
                        >
                            <router-link :to="{name: child.routerName}">
                                <v-list-tile>
                                    <v-list-tile-action v-if="child.icon">
                                        <v-icon>{{ child.icon }}</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            {{ child.text }}
                                        </v-list-tile-title>
                                    </v-list-tile-content>

                                </v-list-tile>
                            </router-link>
                        </div>
                    </v-list-group>

                    <!-- Jika tidak ada child -->
                    <div v-else @click="changeToolbarTitle(item.text)">
                        <router-link :to="{name: item.routerName}">
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.text }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </router-link>
                    </div>
                </template>
                <!-- <div @click="logOut()">
                    <a href="#">
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon>settings_power</v-icon> -->
                                <!-- <i class="material-icons">&#xE8B8;</i> -->
                            <!-- </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title class="sidebar-logout">
                                    Logout
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </a>
                </div> -->
            </v-list>


        </v-navigation-drawer>
        <v-toolbar fixed app style="background:#2F4354" dark>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{ toolbar_title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-btn icon>
              <v-icon>apps</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>notifications</v-icon>
            </v-btn> -->
            <div class="nav-star-logo">
                <a href="https://star.ums.ac.id">
                <img src="/assets/images/system/star-logo.png" alt="STAR UMS" style="float:right; margin-right:0px" width="100px">
                </a>
            </div>
        </v-toolbar>
        <main>
            <v-content>
                <transition name="fade">
                    <router-view></router-view>
                </transition>
            </v-content>
        </main>
        <v-footer style="background:#2F4354" dark app>
            <span class="white--text">BAA UMS &copy; 2017</span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            mhs_nim: null,
            mhs_picture: null,
            // Sidebar
            drawer: true,
            mini: false,
            // toolbar title
            toolbar_title: "Applications",
            // sidebar item
            items: [
                {
                    icon: 'dashboard',
                    text: 'Dashboard',
                    routerName: 'dashboard',
                    privilege: 'all',
                },
                {
                    icon: 'insert_drive_file',
                    'icon-alt': 'insert_drive_file',
                    text: 'Pengajuan',
                    model: false,
                    children: [
                        {
                            text: 'Pengajuan Surat Mahasiswa Aktif',
                            icon: 'description',
                            routerName: 'pengajuan_mahasiswa_aktif'
                        },
                        {
                            text: 'Pengajuan Perubahan Status Mahasiswa',
                            icon: 'description',
                            routerName: 'pengajuan_perubahan_status_mhs'
                        },
                    ]
                },
                {
                    icon: 'access_time',
                    'icon-alt': 'access_time',
                    text: 'Riwayat',
                    model: false,
                    children: [
                        {
                            text: 'Riwayat Mahasiswa Aktif',
                            icon: 'history',
                            routerName: 'riwayat_mhs_aktif'
                        },
                        {
                            text: 'Riwayat Perubahan Status Mahasiswa',
                            icon: 'history',
                            routerName: 'riwayat_perubahan_status_mhs'
                        },
                    ]
                },
            ],
        }),
        props: {
            source: String
        },
        created(){
            axios.get('api/get/initial-data/user-data')
                .then(response => {
                    // console.log(response)
                    if (response.data.success == true) {
                        this.mhs_nim = response.data.result.nim
                        this.mhs_picture = response.data.result.picture
                    }
                })
        },
        methods: {
            logOut(){
                window.location.href = "/logout"
            },
            changeToolbarTitle(params){
                this.toolbar_title = params;
            }
        },
        mounted(){
            let firstTimeUrlName = this.$route.name;
            this.items.map(e => {
                if (e.children) {
                    e.children.map(child => {
                        if (child.routerName == firstTimeUrlName) {
                            this.changeToolbarTitle(child.text);
                        }
                    })
                } else {
                    if (e.routerName == firstTimeUrlName) {
                        this.changeToolbarTitle(e.text);
                    }
                }
            })
        }
    }
</script>