<template>
    <div>
        <div v-if="loading" style="padding-top:180px; text-align:center;">
            <vue-loader :loading="loading" :color="color" :size="size"></vue-loader>
        </div>
        <div v-else>
            <v-stepper v-model="step">
                <v-stepper-header>
                    <v-stepper-step step="1" :complete="step > 1">Surat Keterangan</v-stepper-step>
                    <v-divider></v-divider>

                    <!-- V-IF berdasarkan input dialog -->
                    <v-stepper-step step="2" :complete="step > 2" v-if="menu_tunjangan == '1'">
                        Data Orang Tua (Aktif Kerja)
                    </v-stepper-step>
                    <v-stepper-step step="2" :complete="step > 2" v-else>
                        Data Orang Tua (Pensiun)
                    </v-stepper-step>

                </v-stepper-header>
                <v-stepper-content step="1">
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs6>
                                    <v-text-field
                                            label="Nama Mahasiswa"
                                            v-model="mhs_nama"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs1></v-flex>
                                <v-flex xs5>
                                    <v-text-field
                                            label="Nomor Induk Mahasiswa"
                                            v-model="mhs_nim"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs6>
                                    <v-text-field
                                            label="Tempat Lahir"
                                            v-model="mhs_tempat_lahir"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs1></v-flex>
                                <v-flex xs5>
                                    <v-text-field
                                            label="Tanggal Lahir"
                                            v-model="mhs_tgl_lahir"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs6>
                                    <v-text-field
                                            label="Fakultas"
                                            v-model="mhs_fakultas"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs1></v-flex>
                                <v-flex xs5>
                                    <v-text-field
                                            label="Program Studi"
                                            v-model="mhs_prodi"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs6>
                                    <v-text-field
                                            label="Semester"
                                            v-model="mhs_semester"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs1></v-flex>
                                <v-flex xs5>
                                    <v-text-field
                                            label="Tahun Akademik"
                                            v-model="mhs_thn_akademik"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs6>
                                    <v-text-field
                                            label="Alamat Mahasiswa"
                                            v-model="mhs_alamat"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs1></v-flex>
                                <v-flex xs5>
                                    <v-text-field
                                            label="Nomor HP"
                                            v-model="mhs_nohp"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>


                            <v-layout row>
                                <v-flex xs12>
                                    <v-tooltip bottom>
                                        <v-text-field
                                                label="Keperluan"
                                                v-model="mhs_keperluan"
                                                multi-line
                                                placeholder="diguna untuk ..."
                                                slot="activator"
                                                autofocus
                                        ></v-text-field>
                                        <span>Isikan Keperluan</span>
                                    </v-tooltip>
                                    <!-- <v-text-field
                                            label="Keperluan..."
                                            v-model="mhs_keperluan"
                                            required
                                            multi-line
                                    ></v-text-field> -->
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <div style="float:right">
                        <v-btn @click.native="nextStep()" style="background:#6583A2" dark>Lanjut
                            <v-icon dark right>keyboard_arrow_right</v-icon>
                        </v-btn>
                    </div>
                    <!-- <v-btn flat>Cancel</v-btn> -->
                </v-stepper-content>

                <!-- V-IF berdasarkan input dialog -->
                <v-stepper-content step="2">
                    <v-card-text v-if="menu_tunjangan == '1'">
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>Nama Orang Tua</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-text-field
                                            label="Nama Orang Tua"
                                            v-model="mhs_ortu_nama"
                                            single-line
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>NIP / NIK</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-tooltip right>
                                        <v-text-field
                                                label="NIP / NIK"
                                                v-model="mhs_ortu_no_id"
                                                single-line
                                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                slot="activator"
                                        >
                                            >
                                        </v-text-field>
                                        <span>Hanya angka</span>
                                    </v-tooltip>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>Pangkat / Golongan</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-select
                                            :items="mhs_ortu_golongan"
                                            v-model="mhs_ortu_pangkat"
                                            item-text="KET"
                                            item-value="ID"
                                            label="Golongan"
                                            autocomplete
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                            <v-layout row v-show="mhs_ortu_pangkat == 'S'">
                                <v-flex xs3>
                                    <v-subheader>Keterangan Pangkat</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-text-field
                                            label="Keterangan Pangkat"
                                            v-model="mhs_ortu_pangkat_other"
                                            single-line
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>Instansi</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-text-field
                                            label="Nama Instansi"
                                            v-model="mhs_ortu_instansi"
                                            single-line
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>


                    <v-card-text v-else>
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>Nama Orang Tua</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-text-field
                                            label="Nama Orang Tua"
                                            v-model="mhs_ortu_nama"
                                            single-line
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>No. Pensiun / No. Rekening</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-text-field
                                            label="No. Pensiun / No Rekening"
                                            v-model="mhs_ortu_no_rek"
                                            single-line
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>Pensiunan</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-card flat>
                                        <v-card-text>
                                            <v-radio-group v-model="mhs_ortu_pensiunan" row>
                                                <v-radio label="PNS" value="PNS" color="info"></v-radio>
                                                <v-radio label="ABRI" value="ABRI" color="info"></v-radio>
                                                <v-radio label="POLISI" value="POLISI" color="info"></v-radio>
                                                <v-radio label="SWASTA" value="SWASTA" color="info"></v-radio>
                                            </v-radio-group>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs3>
                                    <v-subheader>Instansi</v-subheader>
                                </v-flex>
                                <v-flex xs9>
                                    <v-text-field
                                            label="Nama Instansi"
                                            v-model="mhs_ortu_instansi"
                                            single-line
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <div style="float:right">
                        <v-btn style="background:#6583A2" dark @click.native="sendForm()">
                            Kirim
                            <v-icon dark right style="font-size:20px">send</v-icon>
                        </v-btn>
                    </div>
                    <div style="float:left">
                        <v-btn color="default" @click.native="step = 1">Kembali</v-btn>
                    </div>
                </v-stepper-content>
            </v-stepper>
        </div>


        <v-layout row justify-center>
            <v-dialog v-model="dialog" persistent>
                <!-- <v-btn color="primary" dark slot="activator">Open Dialog</v-btn> -->
                <v-card>
                    <v-card-title class="headline">Status Orang Tua</v-card-title>
                    <v-card-text>
                        Apakah orang tua masih aktif bekerja dinas / sudah purna (pensiun) / swasta ?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat @click.native="answerMenuTunjangan('1')">Dinas</v-btn>
                        <v-btn color="green darken-1" flat @click.native="answerMenuTunjangan('2')">Purna / Swasta
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</template>

<script>
    export default {
        data: () => ({
            step: 1,
            menu_tunjangan: null,
            dialog: false,

            // step 1
            mhs_nama: null,
            mhs_nim: null,
            mhs_tempat_lahir: null,
            mhs_tgl_lahir: null,
            mhs_prodi: null,
            mhs_fakultas: null,
            mhs_semester: null,
            mhs_thn_akademik: null,
            mhs_alamat: null,
            mhs_nohp: null,
            mhs_keperluan: null,

            // step 2
            mhs_ortu_nama: null,
            mhs_ortu_no_id: null,
            mhs_ortu_pangkat: null,
            mhs_ortu_pensiunan: null,
            mhs_ortu_instansi: null,
            mhs_ortu_no_rek: null,
            mhs_ortu_pangkat_other: null,

            mhs_ortu_golongan: [],

            // loading screen
            loading: null,
            color: '#00838F',
            size: '150px',
        }),
        created() {
            this.loading = true;
            axios.get('api/get/pengajuan/mahasiswa-aktif/get-data-mahasiswa')
                .then(e => {
                    if (e.data.success == true) {
                        let result = e.data.result
                        this.mhs_nama = result.nama,
                            this.mhs_nim = result.nim,
                            this.mhs_tempat_lahir = result.tempat_lahir,
                            this.mhs_tgl_lahir = result.tanggal_lahir,
                            this.mhs_prodi = result.prodi,
                            this.mhs_fakultas = result.fakultas,
                            this.mhs_semester = result.semester,
                            this.mhs_thn_akademik = result.thn_akademik,
                            this.mhs_alamat = result.alamat,
                            this.mhs_nohp = result.no_hp
                        this.loading = false;
                    }
                });
            this.loading = true;
            axios.get('api/get/pengajuan/mahasiswa-aktif/get-data-golongan')
                .then(e => {
                    if (e.data.success == true) {
                        let result = e.data.result;
                        this.mhs_ortu_golongan = result.data_golongan;
                        this.loading = false;
                    }
                })

        },
        watch: {
            mhs_ortu_no_id: function (value) {
                // return event.charCode >= 48 && event.charCode <= 57
            }
        },
        methods: {
            answerMenuTunjangan(params) {
                this.dialog = false
                this.menu_tunjangan = params
            },
            sendForm() {
                let formData = {}
                // 1 = DINAS
                if (this.menu_tunjangan == '1') {
                    formData = {
                        mhs_keperluan: this.mhs_keperluan,
                        mhs_ortu_nama: this.mhs_ortu_nama,
                        mhs_ortu_instansi: this.mhs_ortu_instansi,
                        mhs_ortu_no_id: this.mhs_ortu_no_id,
                        mhs_ortu_pangkat: this.mhs_ortu_pangkat,
                    }
                    console.log(formData);
                    // console.log(formData.mhs_ortu_no_id);

                    // Menambahkan keterangan pangkat jika memilih lain-lain
                    if (this.mhs_ortu_pangkat == 'S') {
                        formData.mhs_ortu_pangkat_other = this.mhs_ortu_pangkat_other
                        if (formData.mhs_ortu_pangkat_other == '' || formData.mhs_ortu_pangkat_other == null) {
                            return this.$toasted.error('Tuliskan keterangan pangkat', {
                                duration: 2000,
                                position: 'top-center'
                            })
                        }
                    }

                    if (formData.mhs_ortu_nama == '' || formData.mhs_ortu_nama == null) {
                        return this.$toasted.error('Tuliskan nama orang tua anda', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                    if (formData.mhs_ortu_no_id == '' || formData.mhs_ortu_no_id == null) {
                        return this.$toasted.error('Tuliskan NIP/NIK orang tua anda', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                    if (formData.mhs_ortu_pangkat == '' || formData.mhs_ortu_pangkat == null) {
                        return this.$toasted.error('Tuliskan pangkat/golongan orang tua anda', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                    if (formData.mhs_ortu_instansi == '' || formData.mhs_ortu_instansi == null) {
                        return this.$toasted.error('Tuliskan instansi orang tua bekerja', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }

                }
                // PENSIUN
                else {
                    formData = {
                        mhs_keperluan: this.mhs_keperluan,
                        mhs_ortu_nama: this.mhs_ortu_nama,
                        mhs_ortu_no_rek: this.mhs_ortu_no_rek,
                        mhs_ortu_pensiunan: this.mhs_ortu_pensiunan,
                        mhs_ortu_instansi: this.mhs_ortu_instansi,
                    }
                    console.log(formData);
                    console.log(formData.mhs_ortu_no_id);
                    // console.log(formData.mhs_ortu_no_id);


                    if (formData.mhs_ortu_nama == '' || formData.mhs_ortu_nama == null) {
                        return this.$toasted.error('Tuliskan nama orang tua anda', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                    if (formData.mhs_ortu_no_rek == '' || formData.mhs_ortu_no_rek == null) {
                        return this.$toasted.error('Tuliskan No.Pensiun / No.Rekening orang tua anda', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                    if (formData.mhs_ortu_pensiunan == '' || formData.mhs_ortu_pensiunan == null) {
                        return this.$toasted.error('Pilih jenis pekerjaan orang tua anda', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                    if (formData.mhs_ortu_instansi == '' || formData.mhs_ortu_instansi == null) {
                        return this.$toasted.error('Tuliskan instansi orang tua bekerja', {
                            duration: 2000,
                            position: 'top-center'
                        })
                    }
                }


                // console.log(formData);

                axios.post('api/post/pengajuan/mahasiswa-aktif/add-data', qs.stringify(formData))
                    .then(response => {
                        if (response.data.success == true) {
                            // reset input data
                            this.mhs_keperluan = null
                            this.mhs_ortu_nama = null
                            this.mhs_ortu_no_id = null
                            this.mhs_ortu_pensiunan = null
                            this.mhs_ortu_instansi = null
                            this.mhs_ortu_pangkat = null
                            this.mhs_ortu_pangkat_other = null

                            this.$swal(
                                'Berhasil!',
                                'Surat keterangan mahasiswa aktif telah diajukan',
                                'success'
                            )

                            // kembali ke halaman 1
                            this.step = 1
                        }
                    })
            },
            nextStep() {
                if (this.mhs_keperluan == null || this.mhs_keperluan == '') {
                    return this.$toasted.error('Tuliskan keperluan anda', {
                        duration: 2000,
                        position: 'top-center'
                    })
                }
                this.dialog = true
                this.step = 2
            }
        },
    }
</script>

<style type="text/css">
    .hide {
        display: none;
    }
</style>