<template>
    <div>
        <div v-if="loading" style="padding-top:180px; text-align:center;">
            <vue-loader :loading="loading" :color="color" :size="size"></vue-loader>
        </div>
        <div v-else>
            <v-card color="grey lighten-4" flat>
                <v-card-text>
                    <v-container fluid>
                        <v-layout row>
                            <v-flex xs4>
                                <v-subheader>Nama Lengkap</v-subheader>
                            </v-flex>
                            <v-flex xs8>
                                <v-text-field
                                        label="Nama Lengkap"
                                        v-model="nama"
                                        disabled
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs4>
                                <v-subheader>NIM</v-subheader>
                            </v-flex>
                            <v-flex xs8>
                                <v-text-field
                                        label="Nomor Induk Mahasiswa"
                                        v-model="nim"
                                        disabled
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs4>
                                <v-subheader>Prodi</v-subheader>
                            </v-flex>
                            <v-flex xs8>
                                <v-text-field
                                        label="Program Studi"
                                        v-model="prodi"
                                        disabled
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs4>
                                <v-subheader>Fakultas</v-subheader>
                            </v-flex>
                            <v-flex xs8>
                                <v-text-field
                                        label="Fakultas"
                                        v-model="fakultas"
                                        disabled
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs4>
                                <v-subheader>Tahun Akademik Masuk</v-subheader>
                            </v-flex>
                            <v-flex xs8>
                                <v-text-field
                                        label="Tahun Akademik Masuk"
                                        v-model="thn_masuk"
                                        disabled
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs4>
                                <v-subheader>Mengajukan</v-subheader>
                            </v-flex>
                            <v-flex xs5>
                                <v-radio-group v-model="pilihan_permohonan" column>
                                    <template v-for="d in kategori_perubahan">
                                        <v-radio :label="d.kategori_nama"
                                                 color="info"
                                                 :value="d.kategori_id"></v-radio>
                                    </template>
                                </v-radio-group>
                            </v-flex>
                            <v-flex xs4>
                                <v-tooltip bottom>
                                    <v-text-field
                                            label="Keterangan Perubahan Status"
                                            placeholder="merubah status karena...."
                                            v-model="ket_perubahan_status"
                                            multi-line
                                            slot="activator"
                                    ></v-text-field>
                                    <span>Isikan Keterangan Perubahan Status</span>
                                </v-tooltip>
                            </v-flex>
                        </v-layout>

                        <v-layout row style="padding-bottom: 20px">
                            <v-flex xs4>
                                <v-subheader>Scan Surat Persetujuan Ortu</v-subheader>
                            </v-flex>
                            <v-flex xs4>
                                <v-tooltip bottom>
                                    <label for="scan_image_ortu"
                                           class="blue-grey white--text btn btn--dark btn--raised"
                                           style="padding:10px"
                                           slot="activator">
                                        Upload <i class="material-icons icon icon--dark icon--right">cloud_upload</i>
                                    </label>
                                    <span>Scan surat pernyataan persetujuaan orangtua (max 1.5MB | jpeg/jpg/png)</span>
                                </v-tooltip>
                                <label class="blue-grey white--text btn btn--dark btn--raised"
                                       :style="{'display': showImageAndButtonPreviewOrtu, 'padding': '10px' }"
                                       @click="removeScanImage('ortu')">
                                    Remove <i class="material-icons icon icon--dark icon--right">close</i>
                                </label>
                                <input type="file" id="scan_image_ortu" accept="image/x-png,image/jpeg" ref="fileInput"
                                       @change="onFileChange" style="display: none">
                            </v-flex>
                            <v-flex xs4>
                                <img id="previewImageOrtu" src="#" alt="your image"
                                     :style="{'display': showImageAndButtonPreviewOrtu }"/>
                            </v-flex>
                        </v-layout>

                        <v-layout row style="padding-bottom: 20px" v-show="pilihan_permohonan == 3">
                            <v-flex xs4>
                                <v-subheader>Scan Surat Ket Lulus ODS</v-subheader>
                            </v-flex>
                            <v-flex xs4>
                                <v-tooltip bottom>
                                    <label for="scan_image_ods"
                                           class="blue-grey white--text btn btn--dark btn--raised"
                                           style="padding:10px"
                                           slot="activator">
                                        Upload <i class="material-icons icon icon--dark icon--right">cloud_upload</i>
                                    </label>
                                    <span>Scan surat keterangan lulus ujian One Day Service (max 1.5MB | jpeg/jpg/png)</span>
                                </v-tooltip>
                                <label class="blue-grey white--text btn btn--dark btn--raised"
                                       :style="{'display': showImageAndButtonPreviewODS, 'padding': '10px' }"
                                       @click="removeScanImage('ods')">
                                    Remove <i class="material-icons icon icon--dark icon--right">close</i>
                                </label>
                                <input type="file" id="scan_image_ods" accept="image/x-png,image/jpeg" ref="fileInput"
                                       @change="onFileChange" style="display: none">
                            </v-flex>
                            <v-flex xs4>
                                <img id="previewImageODS" src="#" alt="your image"
                                     :style="{'display': showImageAndButtonPreviewODS }"/>
                            </v-flex>
                        </v-layout>
                        <center>
                            <v-btn style="background:#6583A2" dark @click.native="sendForm()">
                                Kirim
                                <v-icon dark right style="font-size:20px">send</v-icon>
                            </v-btn>
                        </center>
                    </v-container>
                </v-card-text>
            </v-card>
        </div>
    </div>

</template>

<script>
    export default {
        data: () => ({
            nama: null,
            nim: null,
            prodi: null,
            fakultas: null,
            thn_masuk: null,
            pilihan_permohonan: null,
            ket_perubahan_status: null,
            kategori_perubahan: null,

            // upload image remove button
            showImageAndButtonPreviewOrtu: 'none',
            showImageAndButtonPreviewODS: 'none',

            // loading screen
            loading: null,
            color: '#00838F',
            size: '150px',
        }),
        methods: {
            sendForm() {
                if (this.pilihan_permohonan == '' || this.pilihan_permohonan == null) {
                    return this.$toasted.error('Pilih permohonan', {
                        duration: 2000,
                        position: 'top-center'
                    })
                }
                if (this.ket_perubahan_status == '' || this.ket_perubahan_status == null) {
                    return this.$toasted.error('Tuliskan keterangan perubahan', {
                        duration: 2000,
                        position: 'top-center'
                    })
                }
                if (this.showImageAndButtonPreviewOrtu == 'none') {
                    return this.$toasted.error('Upload bukti persetujuaan orang tua', {
                        duration: 3000,
                        position: 'top-center'
                    })
                }

                if (this.showImageAndButtonPreviewODS == 'none' && this.pilihan_permohonan == 3) {
                    return this.$toasted.error('Upload bukti lulus tes One Day Service', {
                        duration: 3000,
                        position: 'top-center'
                    })
                }

                // sending data
                let formData = new FormData();
                let scanImageOrtu = document.querySelector('#scan_image_ortu');
                formData.append("scan_image_ortu", scanImageOrtu.files[0]);
                formData.append('pil_permohonan', this.pilihan_permohonan);
                formData.append('ket_perubahan', this.ket_perubahan_status);

                // jika user memilih pindah program studi
                if (this.pilihan_permohonan == 3) {
                    let scanImageODS = document.querySelector('#scan_image_ods');
                    formData.append("scan_image_ods", scanImageODS.files[0]);
                }
                console.log(formData);
                
                axios.post('api/post/pengajuan/perubahan-status-mahasiswa/add-data', formData)
                    .then(response => {
                        if (response.data.success == true) {
                            this.pilihan_permohonan = null
                            this.ket_perubahan_status = null
                            this.removeScanImage('ortu')
                            this.removeScanImage('ods')
                            this.$swal(
                                'Berhasil!',
                                'Surat berhasil diajukan',
                                'success'
                            )
                        }
                        else if (response.data.success == false) {
                            return this.$toasted.error(response.data.message, {
                                duration: 5000,
                                position: 'top-center'
                            })
                        }
                    })
            },
            onFileChange($event) {
                // console.log($event.target.id);
                // console.log($event.target.files[0].type);
                // console.log($event.target.value);
                //lebih dari 1.5 MB
                if (!($event.target.files[0].type == 'image/jpeg' ||
                        $event.target.files[0].type == 'image/jpg' ||
                        $event.target.files[0].type == 'image/png')) {
                    (this.pilihan_permohonan == 3 ? this.removeScanImage('ods') : this.removeScanImage('ortu'))
                    return this.$toasted.error('Format hanya diperbolehkan jpg/png/jpeg', {
                        duration: 5000,
                        position: 'top-center'
                    })
                }
                if ($event.target.files[0].size > 1500000) {
                    (this.pilihan_permohonan == 3 ? this.removeScanImage('ods') : this.removeScanImage('ortu'))
                    return this.$toasted.error('Size gambar max 1.5MB', {
                        duration: 5000,
                        position: 'top-center'
                    })
                }

                if ($event.target.id == 'scan_image_ortu') {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#previewImageOrtu')
                            .attr('src', e.target.result)
                            .width('100%')
                            .height('100%');
                    };
                    this.showImageAndButtonPreviewOrtu = '';
                }
                else if ($event.target.id == 'scan_image_ods') {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#previewImageODS')
                            .attr('src', e.target.result)
                            .width('100%')
                            .height('100%');
                    };
                    this.showImageAndButtonPreviewODS = '';
                }

                reader.readAsDataURL($event.target.files[0]);
            },
            removeScanImage(params) {
                if (params == 'ortu') {
                    $("#scan_image_ortu").val(null);
                    $("#previewImageOrtu").attr('src', "#");
                    this.showImageAndButtonPreviewOrtu = 'none';
                }
                else if (params == 'ods') {
                    $("#scan_image_ods").val(null);
                    $("#previewImageODS").attr('src', "#");
                    this.showImageAndButtonPreviewODS = 'none';
                }

            },
        },
        created() {
            this.loading = true;
            axios.get('api/get/pengajuan/perubahan-status-mahasiswa/get-data-mahasiswa')
                .then(response => {
                    if (response.data.success == true) {
                        let result = response.data.result
                        this.nama = result.nama,
                            this.nim = result.nim,
                            this.fakultas = result.fakultas,
                            this.thn_masuk = result.thn_masuk
                        this.loading = false;
                    }
                });

            this.loading = true;
            axios.get('api/get/pengajuan/all-category')
                .then(response => {
                    if (response.data.success == true) {
                        let result = response.data.result
                        this.kategori_perubahan = result
                        this.loading = false;
                    }
                })
        }

    }
</script>