body, .swal2-title, .swal2-content, .swal2-confirm .swal2-cancel {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.nav-star-logo {
  float: right;
}

.sidebar-logout {
  cursor: pointer;
}

#navigation-1 a {
  text-decoration: none;
}

/*Transitioon*/
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .10s;
}

.fade-enter-active {
  transition-delay: .10s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

/*End transiton*/

// Background sidebar active
.router-link-active .list__tile {
  background: #2F4354;
}

// warna font sidebar active
.router-link-active .list__tile .list__tile__content .list__tile__title {
  color: white;
  font-weight: bold;
}

// background icon sidebar active
.router-link-active .list__tile .list__tile__action i {
  color: white;
}

.application--light .navigation-drawer .list__tile--active .icon {
  color: red;
}

// ======================== HOVER =============================
div a li:hover {
  background: #2F4354;
}

a li:hover .list__tile__title {
  color: white;
}

a li:hover .icon {
  color: white;
}

.list--group__header--no-action:hover {
  background: #2F4354;
}

.list--group__header--no-action:hover .list__tile__title {
  color: white;
}

.list--group__header--no-action:hover .icon {
  color: white;
}

// ================ Menu Parent di klik ================
.list--group__header--active .list__tile {
  background: #2F4354;
}

.list--group__header--active .list__tile .list__tile__title {
  color: white;
  font-weight: bold;
}

.list--group__header--active .list__tile .icon {
  color: white;
}

// STEPER OVERIDE COLOR
.stepper__step--active .stepper__step__step {
  background: #2F4354;
}

.stepper__step--complete .stepper__step__step {
  background: #2F4354;
}